<header class="bg-blue-600 text-white py-4">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold">
      <%= link_to "Code Quiz", root_path, class: 'hover:opacity-90' %>
    </h1>
    <nav class="text-sm">
      <% if signed_in? %>
        <%= current_user.name %>
        <%= button_to "ログアウト", sign_out_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", sign_in_path, class: 'py-2 px-4 rounded hover:bg-blue-700 hover:opacity-90' %>
        <%= link_to "ユーザ登録", sign_up_path, class: 'py-2 px-4 rounded hover:bg-blue-700 hover:opacity-90' %>
      <% end %>
    </nav>
  </div>
</header>
